[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.lab
Exec=/usr/bin/ru.auroraos.lab
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=lab
ExecDBus=/usr/bin/ru.auroraos.lab
